body {
    display: flex;
    justify-content: center;
}

main {
    width: 64rem;
    background-color: white;
}

.font {
    color: var(--primary-color);
}

header h1 {
    display: flex;
    text-transform: capitalize;
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 100px;
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

nav a {
    text-transform: uppercase;
    text-decoration: none;
    color: #6a5d54;
    padding: 40px 30px;
}


nav a:hover {
    color: white;
 background-color: var(--primary-color);
}


header {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.carousel {
    background: lightblue;
    overflow: hidden;
    width: 100%;
  }

.carousel__wrapper {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.carousel__slide {
    animation: scroll var(--iteration-time) ease-in-out infinite both;
    display: flex;
    flex-direction: column;
    
    flex: 0 0 auto;
    width: var(--slide-width);
    height: var(--slide-height);
    /*border: 1px dotted darkblue;*/
  }


  @keyframes scroll {
    0% { background-image: url("../img/carousel/carousel-1.jpg");}
    33.33% { background-image: url("../img/carousel/carousel-2.jpg");}
    67.67% { background-image: url("../img/carousel/carousel-3.jpg");}
    100% { background-image: url("../img/carousel/carousel-1.jpg");}
  }